<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ashion Template">
    <meta name="keywords" content="Ashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Ashion</title>

    <!-- Google Font (DÜZGÜN) -->
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
          rel="stylesheet">

    <!-- CSS (DÜZGÜN) -->
    <link rel="stylesheet" href="/front/css/bootstrap.min.css">
    <link rel="stylesheet" href="/front/css/font-awesome.min.css">
    <link rel="stylesheet" href="/front/css/elegant-icons.css">
    <link rel="stylesheet" href="/front/css/jquery-ui.min.css">
    <link rel="stylesheet" href="/front/css/magnific-popup.css">
    <link rel="stylesheet" href="/front/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/front/css/slicknav.min.css">
    <link rel="stylesheet" href="/front/css/style.css">
</head>

<body>

<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Offcanvas Menu -->
<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
    <div class="offcanvas__close">+</div>
    <ul class="offcanvas__widget">
        <li><span class="icon_search search-switch"></span></li>
        <li><a href="#"><span class="icon_heart_alt"></span><div class="tip">2</div></a></li>
        <li><a href="#"><span class="icon_bag_alt"></span><div class="tip">2</div></a></li>
    </ul>
    <div class="offcanvas__logo">
        <a href="index.html"><img src="/front/img/logo.png" alt=""></a>
    </div>
    <div id="mobile-menu-wrap"></div>
    <div class="offcanvas__auth">
        <a href="#">Login</a>
        <a href="#">Register</a>
    </div>
</div>

<!-- Header -->
<header class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-3 col-lg-2">
                <div class="header__logo">
                    <a href="index.html"><img src="/front/img/logo.png" alt=""></a>
                </div>
            </div>
            <div class="col-xl-6 col-lg-7">
                <nav class="header__menu">
                    <ul>
                        <li class="active"><a href="index.html">Home</a></li>
                        <li><a href="#">Women’s</a></li>
                        <li><a href="#">Men’s</a></li>
                        <li><a href="./shop.html">Shop</a></li>
                        <li><a href="#">Pages</a>
                            <ul class="dropdown">
                                <li><a href="./product-details.html">Product Details</a></li>
                                <li><a href="./shop-cart.html">Shop Cart</a></li>
                                <li><a href="./checkout.html">Checkout</a></li>
                                <li><a href="./blog-details.html">Blog Details</a></li>
                            </ul>
                        </li>
                        <li><a href="./blog.html">Blog</a></li>
                        <li><a href="./contact.html">Contact</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3">
                <div class="header__right">
                    <div class="header__right__auth">
                        <a href="#">Login</a>
                        <a href="#">Register</a>
                    </div>
                    <ul class="header__right__widget">
                        <li><span class="icon_search search-switch"></span></li>
                        <li><a href="#"><span class="icon_heart_alt"></span><div class="tip">2</div></a></li>
                        <li><a href="#"><span class="icon_bag_alt"></span><div class="tip">2</div></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="canvas__open"><i class="fa fa-bars"></i></div>
    </div>
</header>

<!-- Page Content Fragment -->
<div layout:fragment="content">
</div>

<!-- Footer -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-7">
                <div class="footer__about">
                    <div class="footer__logo">
                        <a href="index.html"><img src="/front/img/logo.png" alt=""></a>
                    </div>
                    <p>Lorem ipsum dolor sit amet...</p>
                    <div class="footer__payment">
                        <a href="#"><img src="/front/img/payment/payment-1.png" alt=""></a>
                        <a href="#"><img src="/front/img/payment/payment-2.png" alt=""></a>
                        <a href="#"><img src="/front/img/payment/payment-3.png" alt=""></a>
                        <a href="#"><img src="/front/img/payment/payment-4.png" alt=""></a>
                        <a href="#"><img src="/front/img/payment/payment-5.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Search -->
<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Search here.....">
        </form>
    </div>
</div>

<!-- JS (DÜZGÜN) -->
<script src="/front/js/jquery-3.3.1.min.js"></script>
<script src="/front/js/bootstrap.min.js"></script>
<script src="/front/js/jquery.magnific-popup.min.js"></script>
<script src="/front/js/jquery-ui.min.js"></script>
<script src="/front/js/mixitup.min.js"></script>
<script src="/front/js/jquery.countdown.min.js"></script>
<script src="/front/js/jquery.slicknav.js"></script>
<script src="/front/js/owl.carousel.min.js"></script>
<script src="/front/js/jquery.nicescroll.min.js"></script>
<script src="/front/js/main.js"></script>

</body>
</html>
